@use "@angular/material" as mat;
@use './tailwind.css';
@plugin "daisyui";
@include mat.core();

body {
  height: 100%;
  margin: 0;
}

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));
}

body.dark-mode {
  color-scheme: dark;
}

.elevation-level1 { box-shadow: var(--mat-sys-level1);}
.elevation-level2 { box-shadow: var(--mat-sys-level2);}
.elevation-level3 { box-shadow: var(--mat-sys-level3);}
.elevation-level4 { box-shadow: var(--mat-sys-level4);}
.elevation-level5 { box-shadow: var(--mat-sys-level5);}
.elevation-level6 { box-shadow: var(--mat-sys-level6);}
.elevation-level7 { box-shadow: var(--mat-sys-level7);}




