services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    environment:
        - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      postgresql_db:
        condition: service_healthy
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    ports:
      - "4200:4200"
    volumes:
      - ../frontend/src:/app/src
    environment:
      - CHOKIDAR_USEPOLLING=true

  postgresql_db:
    image: postgres:alpine
    ports:
      - "5432:5432"
    environment:
        POSTGRES_USER: user
        POSTGRES_PASSWORD: password
        POSTGRES_DB: master
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d master"]
      interval: 10s
      timeout: 5s
      retries: 5
