spring:
  datasource:
    username: user
    password: password
    url: jdbc:postgresql://postgresql_db:5432/master
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 20000
      maximum-pool-size: 10
frontend:
  url: http://localhost:4200
server:
  port: 8080