spring:
  application:
    name: backend
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    show-sql: true
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
  sql:
    init:
      mode: never
jwt:
  secret: ${JWT_SECRET:dGhpc0lzQVNlY3JldEtleUZvckRldmVsb3BtZW50T25seURvTm90VXNlSW5Qcm9k}
  access-token-expiration-ms: 900000
  refresh-token-expiration-ms: 604800000
graphhopper:
  osm:
    file: data/merged_sk_cz_au.osm.pbf
  graph:
    location: data/gh-cache
