spring:
  application:
    name: backend
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true
    show-sql: true
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
  sql:
    init:
      mode: never
graphhopper:
  osm:
    file: data/slovakia-260207.osm.pbf
  graph:
    location: data/gh-cache
